.card {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.row {
    display: flex;
    gap: 1rem;
}

.field {
    flex: 1;
}

.priceInfo {
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: right;
    margin-bottom: 0.5rem;
}